<ul>
  <li *ngFor="let hero of heroes; index as heroIndex" class="col-1-4"
      [class.selected]="hero === selectedHero"
  >
    <p routerLink="/hero-detail/{{hero.id}}">{{ hero.name | uppercase }}</p>
    <button (click)="delete(heroIndex, hero)" >Delete</button>
  </li>
</ul>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>





